.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.tab-pane {
    padding: 8px;
}

/***************************
 * Card Styles.
 */

div.action-card {
    width: 272px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

div.card-header {
    padding: 0px;
    margin: 0px;
    height: 36px;
}

div.card .container-fluid {
    padding: 0px;
    margin: 0px;
    height: 100%;
    left: 0px;
    right: 0px;
}

div.card-row {
    width: 100%;
    justify-content: center; /* align horizontal */
    margin-top: 8px;
    margin-bottom: 8px;
}

div.card-row .list-group-item {
    padding: 0px !important;
    border: 0px !important;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
}

div.card .row {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

div.card .cost-label {
    margin-top: 8px;
    margin-left: 0px;
    font-size: 14px;
}

div.card .badge {
    margin-top: 10px;
    margin-left: 0px;
}

div.card .card-title {
    margin-top: 0px;
    margin-bottom: 8px;
    text-align: center;
}

div.card-body {
    height: 300px;
    padding: 8px 4px 8px 4px;
    text-align: center;
    font-size: 14px;
}

div.card-body img.card-image {
    padding: 0px;
    height: 144px;
    width: 256px;
    margin-bottom: 4px;
}

div.card-body div.extra-rules {
    font-size: 14px;
    height: 64px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

div.card-body div.list-group-item {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

div.card-body p.flavor {
    font-size: 13px;
    font-style: italic;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    height: 38px;
    top: 0;
    bottom: 0;
}

.card-footer .badge {
    margin-right: 8px;
}

span.card-keyword {
    font-weight: bold;
    cursor: help;
}

.card-preview div.tooltip-inner {
    width: 272px;
    height: 374px;
    padding: 0px;
    max-width: 300px;
    color: #000;
    background-color: #000;
}

.card-label {
    width: 100%;
    text-align: center;
    font-size: 18px;
    display: block;
}

div.card-footer {
    padding: 0px;
    margin: 0px;
    height: 36px;
    opacity: 30%;
}

div.card-footer.Opportunities {
    opacity: 100%;
}

@keyframes jiggle {
    0% { transform: rotate(0deg); }
    5% { transform: rotate(-1deg); }
    10% { transform: rotate(0deg); }
    15% { transform: rotate(1deg); }
    20% { transform: rotate(0deg); }
    25% { transform: rotate(-1deg); }
    30% { transform: rotate(0deg); }
}

.study-points {
  animation-name: jiggle;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: block;
  width: 100%;
}

/* Layout */

div.game-tabs a.nav-item {
    border: 0px;
    font-size: 20px;
}

div.game-tabs a.nav-item.active {
    text-decoration: underline;
}

div.game-tabs nav.nav-tabs {
    width: 100%;
    height: 36px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    border: 0px;
    justify-content: center;
}

div.game-tabs div.tab-content {
    margin-top: 0px;
    padding-left: 8px;
    padding-top: 0px;
    padding-right: 8px;
}

div.game-tabs ul.pagination {
  justify-content: center;
  text-align: center;
  height: 24px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

table#player-info {
    margin-top: 8px;
    max-width: 1108px;
    margin-bottom: 0px;
}

table#player-info th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    border-color: black;
    border-width: 1px;
}

table#player-info > tbody > tr > td {
    padding: 8px;
    margin: 8px;
    text-align: center;
    border-color: black;
    border-width: 1px;
}

table#player-info div.progress {
    margin-top: 4px;
}


#day-progress {
    max-width: 1108px;
    margin-top: 8px;
    margin-left: 0px;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
}

a.nav-item.nav-link {
    background-color: transparent;
    font-weight: bold;
}

a.nav-item.nav-link.active {
    background-color: transparent;
    font-style: italic;
}

div#bg-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 1440px;
    height: 960px;
    opacity: 0.2;
}

div#game-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 1440px;
    height: 960px;
    opacity: 1.0;
    border: 2px solid;
    border-radius: 5px;
}

div#game-container {
    width: 1140px;
    height: 960px;
    margin: auto;
}

div.confirm-next-turn {
    justify-content: center;
    text-align: center;
    padding-top: 48px;
}

div.confirm-next-turn > button {
  font-size: 24px;
}

/* Events */

div.event-modal .modal-xl {
    max-width: 1440px;
}

div.event-modal {
    text-align: center;
}
div.event-modal > div.modal-dialog > div.modal-content {
  opacity: 0.9;
}
div.event-modal > div.modal-dialog > div.modal-content > div.modal-header {
    text-align: center;
    justify-content: center;
}
div.event-modal > div.modal-dialog > div.modal-content > div.modal-footer {
    text-align: center;
    justify-content: center;
}

/* Start */

div#loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 8px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 480px;
    height: 120px;
    border: 2px solid;
    border-radius: 5px;
}

/* Editor */
div#card-editor-card-container {
    margin: 0px;
    width: 300px;
    height: 400px;
}

div#schedule-editor div.search-wrapper {
    width: 240px;
}
