.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/***************************
 * Card Styles.
 */


div.card {
    max-width: 300px;
    height: 400px;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 0px;
}

div.card-header {
    padding: 0px;
    margin: 0px;
    height: 48px;
}

div.card .container-fluid {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

div.card .row {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

div.card .badge-warning {
    margin-top: 16px;
    margin-left: 0px;
}

div.card .badge-primary {
    margin-top: 16px;
    margin-right: 0px;
}

div.card-body {
    height: 300px;
}

div.card-columns {
    margin-top: 8px;
    grid-column-gap: 8px;
    column-count: 3;
    width: 948px;
    max-height: 840px;
}

nav.nav-tabs {
    width: 948px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 8px;
}

div.tab-content {
    width: 948px;
    margin-top: -8px;
    padding-top: 0px;
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
}

.card-footer .badge {
    margin-right: 8px;
}

div.card-footer {
    height: 50px;
}

table#player-info {
    margin-top: 8px;
    max-width: 948px;
}

#day-progress {
    max-width: 948px;
    margin-top: 8px;
    margin-left: 0px;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
}

